<div class="create">
  <h1> Please enter your information </h1>

  <form action ="/login" method = "POST">
    <label>First Name: <input type = "text" name = "user[first_name]"></label><br>
    <label>Last Name: <input type = "text" name = "user[last_name]"></label><br>
    <label>Code Name: <input type = "text" name = "user[code_name]"></label><br>
    <label>Email: <input type = "text" name = "user[email]"></label><br>
    <label>Password: <input type = "password" name = "user[password]"></label><br>
    <input type = "Submit" >
  </form>
</div>
